In [1]:
import pandas as pd

In [3]:
df_all = pd.read_csv('usage_by_weather2.csv')

In [4]:
df2010 = pd.read_excel("시군구별 전력사용량(2010년).xlsx")
df2011 = pd.read_excel("시군구별 전력사용량(2011년).xlsx")
df2012 = pd.read_excel("시군구별 전력사용량(2012년).xlsx")
df2013 = pd.read_excel("시군구별 전력사용량(2013년).xlsx")
df2014 = pd.read_excel("150128 시군구별 전력사용량(2014년 1월~12월).xlsx")
df2015 = pd.read_excel("시군구별 전력사용량(2015년 12월).xlsx")

In [5]:
df2010

,시군구별 계약종별별 전력사용량,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(단위 : MWh)
1,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
2,2010년,서울특별시,강남구,주택용,79292,74986,68798,70793,67428,70911,80125,92559,80982,68500,70368,73862
3,2010년,서울특별시,강남구,일반용,349518,322874,278902,279749,256752,293787,344233,372474,339004,257141,267997,311603
4,2010년,서울특별시,강남구,교육용,4531,4311,3724,4110,2637,3261,4151,3096,4410,2476,3504,4847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1841,2010년,황해북도,개성시,일반용,1651,1170,1117,687,478,378,444,407,323,364,601,852
1842,2010년,황해북도,개성시,산업용,14411,11018,12782,10876,10077,10606,11969,12754,10890,10955,11713,14799
1843,2010년,황해북도,개성시,가로등,38,35,29,29,22,22,24,23,27,34,40,40
1844,2010년,황해북도,개성시,심야,0,1,0,0,0,1,1,2,1,1,1,1
1845,2010년,황해북도,개성시,총계,16113,12235,13941,11603,10584,11011,12440,13188,11243,11355,12356,15695