In [1]:
import pandas as pd

In [2]:
emp_r = pd.read_csv("data/EmploymentRate/시도별_고용률(2010~2022,월별).csv",encoding='cp949')

In [6]:
df = emp_r

In [24]:
df.head()

,시도별,성별,항목,단위,2010.01 월,2010.02 월,2010.03 월,2010.04 월,2010.05 월,2010.06 월,...,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,Unnamed: 160
0,계,계,15세이상인구[천명],천명,40594.6,40630.2,40667.3,40703.2,40747.7,40788.1,...,45233.4,45245.1,45248.5,45257.6,45270.4,45283.5,45302.1,45317.6,45331.7,NaN
1,계,계,경제활동인구[천명],천명,24258.3,24217.0,24567.1,25052.5,25292.7,25352.3,...,28942.1,29373.9,29366.1,29311.0,29024.5,29092.7,29110.0,29086.5,28673.9,NaN
2,계,계,비경제활동인구[천명],천명,16336.3,16413.2,16100.2,15650.7,15455.0,15435.8,...,16291.3,15871.3,15882.3,15946.6,16245.9,16190.8,16192.0,16231.1,16657.8,NaN
3,계,계,경제활동참가율[%],%,59.8,59.6,60.4,61.5,62.1,62.2,...,64.0,64.9,64.9,64.8,64.1,64.2,64.3,64.2,63.3,NaN
4,계,계,실업률[%],%,5.0,4.8,4.1,3.7,3.2,3.5,...,3.0,3.0,3.0,2.9,2.1,2.4,2.4,2.3,3.0,NaN

In [19]:
df['시도별'].nunique()

18

In [18]:
df['시도별'].unique()

array(['계', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주도'], dtype=object)

In [16]:
col = ['전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [20]:
len(col)

18

In [27]:
df['성별'].unique()

array(['계', '남자', '여자'], dtype=object)

In [42]:
df['항목'].unique()

array(['15세이상인구[천명]', '경제활동인구[천명]', '비경제활동인구[천명]', '경제활동참가율[%]', '실업률[%]',
       '고용률[%]', '15~64세 고용률[%]'], dtype=object)

In [41]:
df = df[df['성별'] == '계']

In [44]:
df = df[df['항목'] == '고용률[%]']

In [48]:
df = df.drop(columns=['시도별','단위','성별','항목','Unnamed: 160'])

In [55]:
df.columns.to_list()

['2010.01 월',
 '2010.02 월',
 '2010.03 월',
 '2010.04 월',
 '2010.05 월',
 '2010.06 월',
 '2010.07 월',
 '2010.08 월',
 '2010.09 월',
 '2010.10 월',
 '2010.11 월',
 '2010.12 월',
 '2011.01 월',
 '2011.02 월',
 '2011.03 월',
 '2011.04 월',
 '2011.05 월',
 '2011.06 월',
 '2011.07 월',
 '2011.08 월',
 '2011.09 월',
 '2011.10 월',
 '2011.11 월',
 '2011.12 월',
 '2012.01 월',
 '2012.02 월',
 '2012.03 월',
 '2012.04 월',
 '2012.05 월',
 '2012.06 월',
 '2012.07 월',
 '2012.08 월',
 '2012.09 월',
 '2012.10 월',
 '2012.11 월',
 '2012.12 월',
 '2013.01 월',
 '2013.02 월',
 '2013.03 월',
 '2013.04 월',
 '2013.05 월',
 '2013.06 월',
 '2013.07 월',
 '2013.08 월',
 '2013.09 월',
 '2013.10 월',
 '2013.11 월',
 '2013.12 월',
 '2014.01 월',
 '2014.02 월',
 '2014.03 월',
 '2014.04 월',
 '2014.05 월',
 '2014.06 월',
 '2014.07 월',
 '2014.08 월',
 '2014.09 월',
 '2014.10 월',
 '2014.11 월',
 '2014.12 월',
 '2015.01 월',
 '2015.02 월',
 '2015.03 월',
 '2015.04 월',
 '2015.05 월',
 '2015.06 월',
 '2015.07 월',
 '2015.08 월',
 '2015.09 월',
 '2015.10 월',
 '2015.11 월',
 '2015.12 월',
 '2016.01 월',
 '2016.02 월',
 '2016.03 월',
 '2016.04 월',
 '2016.05 월',
 '2016.06 월',
 '2016.07 월',
 '2016.08 월',
 '2016.09 월',
 '2016.10 월',
 '2016.11 월',
 '2016.12 월',
 '2017.01 월',
 '2017.02 월',
 '2017.03 월',
 '2017.04 월',
 '2017.05 월',
 '2017.06 월',
 '2017.07 월',
 '2017.08 월',
 '2017.09 월',
 '2017.10 월',
 '2017.11 월',
 '2017.12 월',
 '2018.01 월',
 '2018.02 월',
 '2018.03 월',
 '2018.04 월',
 '2018.05 월',
 '2018.06 월',
 '2018.07 월',
 '2018.08 월',
 '2018.09 월',
 '2018.10 월',
 '2018.11 월',
 '2018.12 월',
 '2019.01 월',
 '2019.02 월',
 '2019.03 월',
 '2019.04 월',
 '2019.05 월',
 '2019.06 월',
 '2019.07 월',
 '2019.08 월',
 '2019.09 월',
 '2019.10 월',
 '2019.11 월',
 '2019.12 월',
 '2020.01 월',
 '2020.02 월',
 '2020.03 월',
 '2020.04 월',
 '2020.05 월',
 '2020.06 월',
 '2020.07 월',
 '2020.08 월',
 '2020.09 월',
 '2020.10 월',
 '2020.11 월',
 '2020.12 월',
 '2021.01 월',
 '2021.02 월',
 '2021.03 월',
 '2021.04 월',
 '2021.05 월',
 '2021.06 월',
 '2021.07 월',
 '2021.08 월',
 '2021.09 월',
 '2021.10 월',
 '2021.11 월',
 '2021.12 월',
 '2022.01 월',
 '2022.02 월',
 '2022.03 월',
 '2022.04 월',
 '2022.05 월',
 '2022.06 월',
 '2022.07 월',
 '2022.08 월',
 '2022.09 월',
 '2022.10 월',
 '2022.11 월',
 '2022.12 월']

In [54]:
col2.replace('월','')

AttributeError: 'list' object has no attribute 'replace'