In [1]:
import pandas as pd
import json
import folium

In [4]:
df_1 = pd.read_csv("./전력량_물가지수_기간2.csv")
df_1.drop(columns=['Unnamed: 0'], inplace=True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      144 non-null    int64
 1   월       144 non-null    int64
 2   물가지수    144 non-null    float64
 3   사용량     144 non-null    int64
 4   기간      144 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 5.8+ KB

In [5]:
df_1

       연도   월     물가지수      사용량       기간
0    2010   1   85.351  2335102  2010_01
1    2010   2   85.523  2188707  2010_02
2    2010   3   85.696  2091419  2010_03
3    2010   4   86.041  2115785  2010_04
4    2010   5   86.128  1988778  2010_05
..    ...  ..      ...      ...      ...
139  2021   8  102.750  2878232  2021_08
140  2021   9  103.170  2636404  2021_09
141  2021  10  103.350  2461071  2021_10
142  2021  11  103.870  2519389  2021_11
143  2021  12  104.040  2779448  2021_12

[144 rows x 5 columns]

In [7]:
df_1['기간'] = df_1['기간'].apply(lambda x: pd.to_datetime(str(x), format='%Y_%m'))

In [8]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      144 non-null    int64
 1   월       144 non-null    int64
 2   물가지수    144 non-null    float64
 3   사용량     144 non-null    int64
 4   기간      144 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 5.8 KB

In [9]:
df_1

       연도   월     물가지수      사용량         기간
0    2010   1   85.351  2335102 2010-01-01
1    2010   2   85.523  2188707 2010-02-01
2    2010   3   85.696  2091419 2010-03-01
3    2010   4   86.041  2115785 2010-04-01
4    2010   5   86.128  1988778 2010-05-01
..    ...  ..      ...      ...        ...
139  2021   8  102.750  2878232 2021-08-01
140  2021   9  103.170  2636404 2021-09-01
141  2021  10  103.350  2461071 2021-10-01
142  2021  11  103.870  2519389 2021-11-01
143  2021  12  104.040  2779448 2021-12-01

[144 rows x 5 columns]

In [6]:
df_1.to_csv('전력량_물가지수.csv')