In [1]:
import pandas as pd
import json
import folium

In [2]:
df_1 = pd.read_csv("./전력량_물가지수_기간.csv")
df_1.drop(columns=['Unnamed: 0'], inplace=True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      144 non-null    int64
 1   월       144 non-null    int64
 2   물가지수    144 non-null    float64
 3   사용량     144 non-null    int64
 4   기간      144 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 5.8 KB

In [3]:
df_1['년월'] = df_1['년월'].apply(lambda x: pd.to_datetime(str(x), format='%Y_%m')).dt.strftime("%Y-%m")

In [4]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년월      144 non-null    object
 1   연도      144 non-null    int64
 2   월       144 non-null    int64
 3   코스피 평균  144 non-null    float64
 4   사용량     144 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 5.8+ KB

In [5]:
df_1

          년월    연도   월   코스피 평균       사용량
0    2010-01  2010   1  1682.16  39696747
1    2010-02  2010   2  1598.96  37208030
2    2010-03  2010   3  1665.50  35554125
3    2010-04  2010   4  1730.29  35968361
4    2010-05  2010   5  1648.30  33809235
..       ...   ...  ..      ...       ...
139  2021-08  2021   8  3182.50  48929956
140  2021-09  2021   9  3141.70  44818884
141  2021-10  2021  10  2989.87  41838223
142  2021-11  2021  11  2964.30  42829617
143  2021-12  2021  12  2988.49  47250619

[144 rows x 5 columns]

In [6]:
df_1.to_csv('전력사용량,코스피.csv')