In [1]:
import pandas as pd

In [4]:
i = pd.read_excel("1일차시군구별_의료인력현황Ⅰ_의사_약사_등__20230426153511_분석(전년말분기_대비_증감,증감률).xlsx")

c:\Users\admin\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Columns: 1270 entries, 시군구별(1) to 2022.4/4.65
dtypes: object(1270)
memory usage: 208.5+ KB

In [6]:
i

,시군구별(1),2018.1/4,2018.1/4.1,2018.1/4.2,2018.1/4.3,2018.1/4.4,2018.1/4.5,2018.1/4.6,2018.1/4.7,2018.1/4.8,...,2022.4/4.56,2022.4/4.57,2022.4/4.58,2022.4/4.59,2022.4/4.60,2022.4/4.61,2022.4/4.62,2022.4/4.63,2022.4/4.64,2022.4/4.65
0,시군구별(1),전체,전체,전체,의사,의사,의사,의사,의사,의사,...,한약사,물리치료사,물리치료사,물리치료사,작업치료사,작업치료사,작업치료사,사회복지사,사회복지사,사회복지사
1,시군구별(1),소계,소계,소계,소계,소계,소계,일반의,일반의,일반의,...,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계
2,시군구별(1),원데이터,전년말분기 대비 증감,증감률,원데이터,전년말분기 대비 증감,증감률,원데이터,전년말분기 대비 증감,증감률,...,증감률,원데이터,전년말분기 대비 증감,증감률,원데이터,전년말분기 대비 증감,증감률,원데이터,전년말분기 대비 증감,증감률
3,전체,232211,NaN,NaN,101060,NaN,NaN,5309,NaN,NaN,...,NaN,46871,NaN,NaN,8242,NaN,NaN,4319,NaN,NaN
4,서울,58433,NaN,NaN,28826,NaN,NaN,1041,NaN,NaN,...,NaN,9271,NaN,NaN,1233,NaN,NaN,586,NaN,NaN
5,부산,17667,NaN,NaN,7779,NaN,NaN,349,NaN,NaN,...,NaN,3739,NaN,NaN,714,NaN,NaN,381,NaN,NaN
6,대구,12658,NaN,NaN,5588,NaN,NaN,160,NaN,NaN,...,NaN,2625,NaN,NaN,678,NaN,NaN,236,NaN,NaN
7,인천,11578,NaN,NaN,4769,NaN,NaN,219,NaN,NaN,...,NaN,2803,NaN,NaN,561,NaN,NaN,279,NaN,NaN
8,광주,8342,NaN,NaN,3458,NaN,NaN,160,NaN,NaN,...,NaN,1826,NaN,NaN,357,NaN,NaN,174,NaN,NaN
9,대전,8247,NaN,NaN,3598,NaN,NaN,156,NaN,NaN,...,NaN,1611,NaN,NaN,345,NaN,NaN,146,NaN,NaN
10,울산,4223,NaN,NaN,1722,NaN,NaN,103,NaN,NaN,...,NaN,827,NaN,NaN,148,NaN,NaN,90,NaN,NaN
11,세종,745,NaN,NaN,258,NaN,NaN,23,NaN,NaN,...,NaN,218,NaN,NaN,8,NaN,NaN,10,NaN,NaN
12,경기,48465,NaN,NaN,19965,NaN,NaN,888,NaN,NaN,...,NaN,10752,NaN,NaN,2086,NaN,NaN,987,NaN,NaN
13,강원,5841,NaN,NaN,2654,NaN,NaN,219,NaN,NaN,...,NaN,1070,NaN,NaN,156,NaN,NaN,109,NaN,NaN
14,충북,6193,NaN,NaN,2447,NaN,NaN,182,NaN,NaN,...,NaN,1362,NaN,NaN,244,NaN,NaN,127,NaN,NaN
15,충남,7821,NaN,NaN,3093,NaN,NaN,300,NaN,NaN,...,NaN,1500,NaN,NaN,231,NaN,NaN,175,NaN,NaN
16,전북,8911,NaN,NaN,3622,NaN,NaN,273,NaN,NaN,...,NaN,1813,NaN,NaN,319,NaN,NaN,191,NaN,NaN
17,전남,7908,NaN,NaN,3096,NaN,NaN,378,NaN,NaN,...,NaN,1921,NaN,NaN,196,NaN,NaN,219,NaN,NaN
18,경북,9313,NaN,NaN,3625,NaN,NaN,340,NaN,NaN,...,NaN,1906,NaN,NaN,263,NaN,NaN,262,NaN,NaN
19,경남,13185,NaN,NaN,5421,NaN,NaN,439,NaN,NaN,...,NaN,3029,NaN,NaN,608,NaN,NaN,299,NaN,NaN
20,제주,2681,NaN,NaN,1139,NaN,NaN,79,NaN,NaN,...,NaN,598,NaN,NaN,95,NaN,NaN,48,NaN,NaN

In [34]:
i.iloc[2] == "원데이터"
i.T

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
시군구별(1),시군구별(1),시군구별(1),시군구별(1),전체,서울,부산,대구,인천,광주,대전,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2018.1/4,전체,소계,원데이터,232211,58433,17667,12658,11578,8342,8247,...,745,48465,5841,6193,7821,8911,7908,9313,13185,2681
2018.1/4.1,전체,소계,전년말분기 대비 증감,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018.1/4.2,전체,소계,증감률,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018.1/4.3,의사,소계,원데이터,101060,28826,7779,5588,4769,3458,3598,...,258,19965,2654,2447,3093,3622,3096,3625,5421,1139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022.4/4.61,작업치료사,소계,전년말분기 대비 증감,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022.4/4.62,작업치료사,소계,증감률,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022.4/4.63,사회복지사,소계,원데이터,4319,586,381,236,279,174,146,...,10,987,109,127,175,191,219,262,299,48
2022.4/4.64,사회복지사,소계,전년말분기 대비 증감,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022.4/4.65,사회복지사,소계,증감률,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
column = i.loc[:1]
column

,시군구별(1),2018.1/4,2018.1/4.1,2018.1/4.2,2018.1/4.3,2018.1/4.4,2018.1/4.5,2018.1/4.6,2018.1/4.7,2018.1/4.8,...,2022.4/4.56,2022.4/4.57,2022.4/4.58,2022.4/4.59,2022.4/4.60,2022.4/4.61,2022.4/4.62,2022.4/4.63,2022.4/4.64,2022.4/4.65
0,시군구별(1),전체,전체,전체,의사,의사,의사,의사,의사,의사,...,한약사,물리치료사,물리치료사,물리치료사,작업치료사,작업치료사,작업치료사,사회복지사,사회복지사,사회복지사
1,시군구별(1),소계,소계,소계,소계,소계,소계,일반의,일반의,일반의,...,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계