In [3]:
import pandas as pd
import json
import folium

In [4]:
df_1 = pd.read_csv("./전력량_주택_all.csv")
df_1.drop(columns=['Unnamed: 0'], inplace=True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       2448 non-null   object
 1   연도       2448 non-null   int64
 2   월        2448 non-null   int64
 3   시도       2448 non-null   object
 4   주택가격변동률  2448 non-null   float64
 5   사용량      2448 non-null   int64
 6   위도       2448 non-null   float64
 7   경도       2448 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 153.1+ KB

In [5]:
df_1['년월'] = df_1['년월'].apply(lambda x: pd.to_datetime(str(x), format='%Y_%m'))

In [3]:
df_1["년월"] = pd.to_datetime(df_1["년월"] + "-01")

In [6]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       2448 non-null   datetime64[ns]
 1   연도       2448 non-null   int64
 2   월        2448 non-null   int64
 3   시도       2448 non-null   object
 4   주택가격변동률  2448 non-null   float64
 5   사용량      2448 non-null   int64
 6   위도       2448 non-null   float64
 7   경도       2448 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 153.1+ KB

In [7]:
df_1

             년월    연도   월       시도  주택가격변동률      사용량         위도          경도
0    2010-01-01  2010   1    서울특별시     0.13  4398183  37.551638  126.993243
1    2010-02-01  2010   2    서울특별시     0.23  4168168  37.551638  126.993243
2    2010-03-01  2010   3    서울특별시     0.07  3624186  37.551638  126.993243
3    2010-04-01  2010   4    서울특별시    -0.02  3719082  37.551638  126.993243
4    2010-05-01  2010   5    서울특별시    -0.25  3426951  37.551638  126.993243
...         ...   ...  ..      ...      ...      ...        ...         ...
2443 2021-08-01  2021   8  제주특별자치도     0.96   544310  33.424967  126.778084
2444 2021-09-01  2021   9  제주특별자치도     0.85   495549  33.424967  126.778084
2445 2021-10-01  2021  10  제주특별자치도     0.75   446949  33.424967  126.778084
2446 2021-11-01  2021  11  제주특별자치도     0.41   438179  33.424967  126.778084
2447 2021-12-01  2021  12  제주특별자치도     0.21   473291  33.424967  126.778084

[2448 rows x 8 columns]

In [8]:
df_1.to_csv('전력량_주택_all.csv')