In [2]:
import pandas as pd
import matplotlib.pyplot as plt	
import datetime

In [3]:
data = pd.read_csv("201001_202112_월별_시도별_주택매매가격변동률.csv",encoding="cp949")
data

,행정구역별(1),2010.01,2010.02,2010.03,2010.04,2010.05,2010.06,2010.07,2010.08,2010.09,...,2021.03,2021.04,2021.05,2021.06,2021.07,2021.08,2021.09,2021.1,2021.11,2021.12
0,전국,0.13,0.26,0.22,0.17,0.02,0,-0.16,-0.1,0.07,...,0.74,0.71,0.70,1.15,0.85,0.96,0.92,0.88,0.63,0.29
1,서울특별시,0.13,0.23,0.07,-0.02,-0.25,-0.24,-0.34,-0.38,-0.19,...,0.38,0.35,0.40,0.72,0.60,0.68,0.72,0.71,0.55,0.26
2,부산광역시,0.36,0.76,0.95,1.13,0.91,0.72,0.53,0.49,0.7,...,0.66,0.57,0.80,1.47,0.85,0.99,0.87,0.90,0.65,0.25
3,대구광역시,0.09,0.11,0.03,0.2,0.09,-0.02,-0.02,0.07,0.13,...,1.11,0.82,0.79,0.84,0.34,0.27,0.15,0.09,0.00,-0.10
4,인천광역시,0.05,0.02,0.03,-0.16,-0.24,-0.21,-0.42,-0.28,-0.3,...,1.31,1.47,1.42,2.12,1.33,1.38,1.46,1.50,0.94,0.49
5,광주광역시,0.07,0.09,-0.01,0.08,0.21,-0.02,-0.07,0.06,0.13,...,0.34,0.45,0.47,0.97,0.73,0.85,0.81,0.95,0.77,0.52
6,대전광역시,0.63,0.93,0.5,0.62,0.68,0.28,0.18,0.47,0.44,...,1.18,1.03,0.94,1.13,0.82,1.05,0.84,0.87,0.57,0.15
7,울산광역시,0.24,0.41,0.26,0.36,0.42,0.13,0.13,0.03,0.19,...,0.47,0.37,0.34,0.66,0.72,0.77,0.70,0.69,0.50,0.27
8,세종특별자치시,-,-,-,-,-,-,-,-,-,...,0.68,0.45,0.22,-0.07,-0.13,-0.19,-0.08,-0.11,-0.67,-1.74
9,경기도,-0.06,0.04,0.01,-0.11,-0.48,-0.46,-0.71,-0.49,-0.17,...,1.28,1.17,1.04,1.92,1.52,1.68,1.55,1.33,0.86,0.34
10,강원도,0.13,0.22,0.31,0.19,0.06,0.1,0.29,0.19,-0.04,...,0.50,0.49,0.40,0.58,0.49,0.59,0.59,0.58,0.56,0.37
11,충청북도,0.14,0.38,0.38,0.4,0.42,0.59,0.3,0.27,0.48,...,0.56,0.61,0.61,0.94,0.74,0.90,0.91,1.01,0.74,0.39
12,충청남도,0.03,0.12,0.12,-0.14,0.13,0.07,-0.04,-0.1,0.08,...,0.54,0.63,0.57,0.70,0.63,0.75,0.75,0.89,0.68,0.43
13,전라북도,0.28,0.54,0.52,0.47,0.48,0.84,0.92,0.38,0.59,...,0.17,0.28,0.32,0.63,0.62,0.65,0.69,0.60,0.52,0.31
14,전라남도,0.31,0.42,0.7,0.4,0.33,0.11,0.14,0.09,0.22,...,0.18,0.23,0.25,0.42,0.33,0.37,0.39,0.28,0.24,0.18
15,경상북도,-0.01,0.02,0.01,-0.05,-0.09,-0.22,-0.31,-0.14,-0.01,...,0.44,0.43,0.50,0.57,0.42,0.50,0.40,0.46,0.37,0.28
16,경상남도,0.19,0.55,0.7,0.66,0.91,0.99,0.52,0.72,0.71,...,0.33,0.41,0.41,0.55,0.42,0.59,0.62,0.81,0.74,0.35
17,제주특별자치도,0.64,0.26,0.15,0.24,0.28,1.18,0.45,0.09,0.04,...,0.10,0.18,0.59,1.34,0.73,0.96,0.85,0.75,0.41,0.21

In [6]:
##전국삭제
data1 = data.drop([0],axis=0)
data1

,행정구역별(1),2010.01,2010.02,2010.03,2010.04,2010.05,2010.06,2010.07,2010.08,2010.09,...,2021.03,2021.04,2021.05,2021.06,2021.07,2021.08,2021.09,2021.1,2021.11,2021.12
1,서울특별시,0.13,0.23,0.07,-0.02,-0.25,-0.24,-0.34,-0.38,-0.19,...,0.38,0.35,0.40,0.72,0.60,0.68,0.72,0.71,0.55,0.26
2,부산광역시,0.36,0.76,0.95,1.13,0.91,0.72,0.53,0.49,0.7,...,0.66,0.57,0.80,1.47,0.85,0.99,0.87,0.90,0.65,0.25
3,대구광역시,0.09,0.11,0.03,0.2,0.09,-0.02,-0.02,0.07,0.13,...,1.11,0.82,0.79,0.84,0.34,0.27,0.15,0.09,0.00,-0.10
4,인천광역시,0.05,0.02,0.03,-0.16,-0.24,-0.21,-0.42,-0.28,-0.3,...,1.31,1.47,1.42,2.12,1.33,1.38,1.46,1.50,0.94,0.49
5,광주광역시,0.07,0.09,-0.01,0.08,0.21,-0.02,-0.07,0.06,0.13,...,0.34,0.45,0.47,0.97,0.73,0.85,0.81,0.95,0.77,0.52
6,대전광역시,0.63,0.93,0.5,0.62,0.68,0.28,0.18,0.47,0.44,...,1.18,1.03,0.94,1.13,0.82,1.05,0.84,0.87,0.57,0.15
7,울산광역시,0.24,0.41,0.26,0.36,0.42,0.13,0.13,0.03,0.19,...,0.47,0.37,0.34,0.66,0.72,0.77,0.70,0.69,0.50,0.27
8,세종특별자치시,-,-,-,-,-,-,-,-,-,...,0.68,0.45,0.22,-0.07,-0.13,-0.19,-0.08,-0.11,-0.67,-1.74
9,경기도,-0.06,0.04,0.01,-0.11,-0.48,-0.46,-0.71,-0.49,-0.17,...,1.28,1.17,1.04,1.92,1.52,1.68,1.55,1.33,0.86,0.34
10,강원도,0.13,0.22,0.31,0.19,0.06,0.1,0.29,0.19,-0.04,...,0.50,0.49,0.40,0.58,0.49,0.59,0.59,0.58,0.56,0.37
11,충청북도,0.14,0.38,0.38,0.4,0.42,0.59,0.3,0.27,0.48,...,0.56,0.61,0.61,0.94,0.74,0.90,0.91,1.01,0.74,0.39
12,충청남도,0.03,0.12,0.12,-0.14,0.13,0.07,-0.04,-0.1,0.08,...,0.54,0.63,0.57,0.70,0.63,0.75,0.75,0.89,0.68,0.43
13,전라북도,0.28,0.54,0.52,0.47,0.48,0.84,0.92,0.38,0.59,...,0.17,0.28,0.32,0.63,0.62,0.65,0.69,0.60,0.52,0.31
14,전라남도,0.31,0.42,0.7,0.4,0.33,0.11,0.14,0.09,0.22,...,0.18,0.23,0.25,0.42,0.33,0.37,0.39,0.28,0.24,0.18
15,경상북도,-0.01,0.02,0.01,-0.05,-0.09,-0.22,-0.31,-0.14,-0.01,...,0.44,0.43,0.50,0.57,0.42,0.50,0.40,0.46,0.37,0.28
16,경상남도,0.19,0.55,0.7,0.66,0.91,0.99,0.52,0.72,0.71,...,0.33,0.41,0.41,0.55,0.42,0.59,0.62,0.81,0.74,0.35
17,제주특별자치도,0.64,0.26,0.15,0.24,0.28,1.18,0.45,0.09,0.04,...,0.10,0.18,0.59,1.34,0.73,0.96,0.85,0.75,0.41,0.21

In [9]:
data1 = data1.T
data1

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
행정구역별(1),서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,-,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,-,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,-,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,-,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [12]:
data1.columns
data1.rename(columns=data1.iloc[0],inplace=True)
data1

,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
행정구역별(1),서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,-,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,-,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,-,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,-,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [14]:
data1.index.name='year'
data1

,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
year,,,,,,,,,,,,,,,,,
행정구역별(1),서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,-,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,-,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,-,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,-,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [18]:
data1

,year,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,행정구역별(1),서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
1,2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,-,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
2,2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,-,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
3,2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,-,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
4,2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,-,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
141,2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
142,2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
143,2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
144,2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [16]:
data1

,year,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,행정구역별(1),서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
1,2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,-,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
2,2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,-,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
3,2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,-,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
4,2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,-,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
141,2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
142,2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
143,2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
144,2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [19]:
##년월만들기
data1['월'] = data1['year'].str.split('.').str.get(1) 
data1['년'] = data1['year'].str.split('.').str.get(0)

In [24]:
data1.columns[0]
# data2 = data1.rename(columns = data1.iloc[0])
# data2

'year'

In [20]:
data1

,year,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도,월,년
0,행정구역별(1),서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도,NaN,행정구역별(1)
1,2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,-,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64,01,2010
2,2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,-,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26,02,2010
3,2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,-,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15,03,2010
4,2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,-,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24,04,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96,08,2021
141,2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85,09,2021
142,2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75,1,2021
143,2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41,11,2021
144,2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21,12,2021

In [217]:
data1.columns

Index(['year', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='object')

In [218]:
data1 =data1[['year','년', '월', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도',
       '제주특별자치도']]
data1

KeyError: "['년', '월', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도'] not in index"

In [219]:
# ##첫번째 행을 columns으로 지정 (행,열이 바뀜)
data2 = data1.rename(columns = data1.iloc[0])
data2
#data1.T.reset_index()
#data1 = data1.rename(columns={'index':'서울특별시'})
data1

,year,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,-,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
1,2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,-,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
2,2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,-,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
3,2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,-,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
4,2010.05,-0.25,0.91,0.09,-0.24,0.21,0.68,0.42,-,-0.48,0.06,0.42,0.13,0.48,0.33,-0.09,0.91,0.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
140,2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
141,2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
142,2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
143,2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [ ]:
df_test = data1.melt(id_vars=['year', '년', '월'], value_vars=['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도',
       '제주특별자치도'], var_name='시도', value_name='사용량')
df_test
##df_test : year ,년,월,시도 사용량 
## 바꿀것 : 월에서 1을 10으로 바꾸고 년월로

KeyError: "The following 'value_vars' are not present in the DataFrame: ['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도', '충청남도', '충청북도']"

In [ ]:
df_test[['월']] = df_test[['월']].astype('object')
# df_test = df_test.replace([1],10)
# df_test
df_test.info()
df_test

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년월      0 non-null      object
 1   연도      0 non-null      object
 2   월       0 non-null      object
 3   시도      0 non-null      object
 4   사용량     0 non-null      object
dtypes: object(5)
memory usage: 0.0+ bytes

Empty DataFrame
Columns: [년월, 연도, 월, 시도, 사용량]
Index: []

In [ ]:
data.columns

Index(['행정구역별(1)', '2010.01', '2010.02', '2010.03', '2010.04', '2010.05',
       '2010.06', '2010.07', '2010.08', '2010.09',
       ...
       '2021.03', '2021.04', '2021.05', '2021.06', '2021.07', '2021.08',
       '2021.09', '2021.1', '2021.11', '2021.12'],
      dtype='object', length=145)

In [ ]:
df_test.loc[df_test['월'] == '1', '월'] = '10'
df_test

Empty DataFrame
Columns: [년월, 연도, 월, 시도, 사용량]
Index: []

In [ ]:
df_test = data.melt(id_vars=['행정구역별(1)'],value_vars=['2010.01',	'2010.02',	'2010.03',	'2010.04',	'2010.05',	'2010.06',	'2010.07',	'2010.08',	'2010.09',	'2010.1','2010.11'	,'2010.12',	'2011.01'	,'2011.02',	'2011.03',	'2011.04',	'2011.05',	'2011.06',	'2011.07',	'2011.08'	,'2011.09'	,'2011.1','2011.11',	'2011.12',	'2012.01',	'2012.02',	'2012.03',	'2012.04',	'2012.05',	'2012.06',	'2012.07',	'2012.08',	'2012.09',	'2012.1',	'2012.11',	'2012.12'	,'2013.01',	'2013.02',	'2013.03',	'2013.04',	'2013.05',	'2013.06'	,'2013.07',	'2013.08',	'2013.09',	'2013.1',	'2013.11',	'2013.12',	'2014.01',	'2014.02',	'2014.03',	'2014.04',	'2014.05',	'2014.06',	'2014.07',	'2014.08'	,'2014.09'	,'2014.1',	'2014.11',	'2014.12',	'2015.01',	'2015.02',	'2015.03',	'2015.04',	'2015.05',	'2015.06'	,'2015.07',	'2015.08',	'2015.09',	'2015.1',	'2015.11',	'2015.12',	'2016.01',	'2016.02',	'2016.03',	'2016.04',	'2016.05',	'2016.06',	'2016.07',	'2016.08',	'2016.09',	'2016.1'	,'2016.11'	,'2016.12'	,'2017.01',	'2017.02',	'2017.03',	'2017.04',	'2017.05',	'2017.06',	'2017.07',	'2017.08',	'2017.09',	'2017.1',	'2017.11',	'2017.12',	'2018.01',	'2018.02',	'2018.03',	'2018.04',	'2018.05',	'2018.06',	'2018.07'	,'2018.08',	'2018.09',	'2018.1',	'2018.11',	'2018.12',	'2019.01',	'2019.02',	'2019.03',	'2019.04',	'2019.05',	'2019.06',	'2019.07',	'2019.08',	'2019.09',	'2019.1',	'2019.11',	'2019.12',	'2020.01',	'2020.02','2020.03',	'2020.04'	,'2020.05'	,'2020.06',	'2020.07','2020.08',	'2020.09'	,'2020.1'	,'2020.11',	'2020.12',	'2021.01',	'2021.02'	,'2021.03',	'2021.04',	'2021.05'	,'2021.06',	'2021.07',	'2021.08',	'2021.09',	'2021.1',	'2021.11',	'2021.12'])

In [ ]:
list_of_dates = ['2010.01',	'2010.02',	'2010.03',	'2010.04',	'2010.05',	'2010.06',	'2010.07',
                 	'2010.08',	'2010.09',	'2010.1','2010.11'	,'2010.12',	'2011.01'	,'2011.02',
                            	'2011.03',	'2011.04',	'2011.05',	'2011.06',	'2011.07',	'2011.08'	
                                ,'2011.09'	,'2011.1','2011.11',	'2011.12',	'2012.01',	'2012.02',	'2012.03',
                                    	'2012.04',	'2012.05',	'2012.06',	'2012.07',	'2012.08',	'2012.09',
                                            	'2012.1',	'2012.11',	'2012.12'	,'2013.01',	'2013.02',	'2013.03',
                                                    	'2013.04',	'2013.05',	'2013.06'	,'2013.07',	'2013.08',	
                                                        '2013.09',	'2013.1',	'2013.11',	'2013.12',	'2014.01',	
                                                        '2014.02',	'2014.03',	'2014.04',	'2014.05',	'2014.06',	
                                                        '2014.07',	'2014.08'	,'2014.09'	,'2014.1',	'2014.11']
                                                        
sido =   ['부산광역시',
        '대구광역시',
        '인천광역시',
        '광주광역시',
        '대전광역시',
        '울산광역시',
        '세종특별자치시',
        '경기도',
        '강원도',
        '충청북도',
        '충청남도',
        '전라북도',
        '전라남도',
        '경상북도',
        '경상남도',
        '제주특별자치도']

data1 = pd.DataFrame({'년월':pd.to_datetime(list_of_dates)},index=sido)

C:\Users\admin\AppData\Local\Temp\ipykernel_10312\2173082784.py:29: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data1 = pd.DataFrame({'년월':pd.to_datetime(list_of_dates)},index=sido)

ValueError: Length of values (59) does not match length of index (16)