In [1]:
import pandas as pd
import json
import folium

In [2]:
df_1 = pd.read_csv("./관광객_전력소비량.csv")
df_1.drop(columns=['Unnamed: 0'], inplace=True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      144 non-null    object
 1   관광객     144 non-null    int64
 2   전력소비량   144 non-null    int64
 3   연도      144 non-null    int64
 4   월       144 non-null    int64
dtypes: int64(4), object(1)
memory usage: 5.8+ KB

In [3]:
df_1["기간"] = pd.to_datetime(df_1["기간"] + "-01")

In [4]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      144 non-null    datetime64[ns]
 1   관광객     144 non-null    int64
 2   전력소비량   144 non-null    int64
 3   연도      144 non-null    int64
 4   월       144 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 5.8 KB

In [5]:
df_1

            기간      관광객    전력소비량    연도   월
0   2010-01-01   801636  2335102  2010   1
1   2010-02-01   893050  2188707  2010   2
2   2010-03-01  1090884  2091419  2010   3
3   2010-04-01  1086594  2115785  2010   4
4   2010-05-01  1050680  1988778  2010   5
..         ...      ...      ...   ...  ..
139 2021-08-01    36904  2878232  2021   8
140 2021-09-01    39222  2636404  2021   9
141 2021-10-01    51396  2461071  2021  10
142 2021-11-01    57468  2519389  2021  11
143 2021-12-01    51260  2779448  2021  12

[144 rows x 5 columns]

In [6]:
df_1.to_csv('관광객_전력소비량.csv')