In [1]:
### 시각화 라이브러리 불러들이기
import pandas as pd
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [6]:
file_path = "./관광객_전력소비량.csv"
pop_data = pd.read_csv(file_path)
pop_data.drop(columns=['Unnamed: 0', '기간'], inplace=True)

In [7]:
pop_data

         관광객    전력소비량    연도   월
0     801636  2335102  2010   1
1     893050  2188707  2010   2
2    1090884  2091419  2010   3
3    1086594  2115785  2010   4
4    1050680  1988778  2010   5
..       ...      ...   ...  ..
139    36904  2878232  2021   8
140    39222  2636404  2021   9
141    51396  2461071  2021  10
142    57468  2519389  2021  11
143    51260  2779448  2021  12

[144 rows x 4 columns]