In [1]:
import pandas as pd
import json
import folium

In [8]:
df_1 = pd.read_csv("./전력 사용량 14차.csv")
df_1.drop(columns=['Unnamed: 0'], inplace=True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년월      2448 non-null   object
 1   연도      2448 non-null   int64
 2   월       2448 non-null   int64
 3   시도      2448 non-null   object
 4   사용량     2448 non-null   int64
dtypes: int64(3), object(2)
memory usage: 95.8+ KB

In [9]:
df_1['년월'] = df_1['년월'].apply(lambda x: pd.to_datetime(str(x), format='%Y_%m')).dt.strftime("%Y-%m")

In [10]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년월      2448 non-null   object
 1   연도      2448 non-null   int64
 2   월       2448 non-null   int64
 3   시도      2448 non-null   object
 4   사용량     2448 non-null   int64
dtypes: int64(3), object(2)
memory usage: 95.8+ KB

In [11]:
df_1

           년월    연도   월       시도      사용량
0     2010-01  2010   1      강원도  1480180
1     2010-01  2010   1      경기도  8725482
2     2010-01  2010   1     경상남도  2922775
3     2010-01  2010   1     경상북도  3743904
4     2010-01  2010   1    광주광역시   712924
...       ...   ...  ..      ...      ...
2443  2021-12  2021  12     전라남도  2966246
2444  2021-12  2021  12     전라북도  1864342
2445  2021-12  2021  12  제주특별자치도   473291
2446  2021-12  2021  12     충청남도  4388778
2447  2021-12  2021  12     충청북도  2506864

[2448 rows x 5 columns]

In [12]:
# df_1.to_csv('전력 사용량 14차.csv')