In [8]:
import pandas as pd
import json
import folium

In [9]:
df_1 = pd.read_csv("./전력량_인구밀도_마커.csv")
df_1.drop(columns=['Unnamed: 0'], inplace=True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244 entries, 0 to 2243
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년월      2244 non-null   object
 1   연도      2244 non-null   int64
 2   월       2244 non-null   int64
 3   시도      2244 non-null   object
 4   사용량     2244 non-null   float64
 5   인구밀도    2244 non-null   float64
 6   위도      2244 non-null   float64
 7   경도      2244 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 140.4+ KB

In [10]:
df_1["년월"] = pd.to_datetime(df_1["년월"] + "-01")

In [11]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244 entries, 0 to 2243
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년월      2244 non-null   datetime64[ns]
 1   연도      2244 non-null   int64
 2   월       2244 non-null   int64
 3   시도      2244 non-null   object
 4   사용량     2244 non-null   float64
 5   인구밀도    2244 non-null   float64
 6   위도      2244 non-null   float64
 7   경도      2244 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 140.4+ KB

In [12]:
df_1

             년월    연도   월    시도        사용량   인구밀도         위도          경도
0    2011-01-01  2011   1   강원도  1582163.0   91.0  37.820812  128.156579
1    2012-01-01  2012   1   강원도  1595626.0   91.0  37.820812  128.156579
2    2013-01-01  2013   1   강원도  1612242.0   91.0  37.820812  128.156579
3    2014-01-01  2014   1   강원도  1559679.0   91.0  37.820812  128.156579
4    2015-01-01  2015   1   강원도  1617029.0   91.0  37.820812  128.156579
...         ...   ...  ..   ...        ...    ...        ...         ...
2239 2017-12-01  2017  12  충청북도  2289258.0  215.0  36.999466  127.700783
2240 2018-12-01  2018  12  충청북도  2333640.0  215.0  36.999466  127.700783
2241 2019-12-01  2019  12  충청북도  2355705.0  216.0  36.999466  127.700783
2242 2020-12-01  2020  12  충청북도  2434030.0  216.0  36.999466  127.700783
2243 2021-12-01  2021  12  충청북도  2506864.0  215.0  36.999466  127.700783

[2244 rows x 8 columns]

In [7]:
df_1.to_csv('전력량_인구밀도_마커.csv')